@model Nhom14_ChuDu.Models.KhachSan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>KhachSan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhPho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhPho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @{
                string ImagePath = "~/Image/Khách Sạn/" + Model.Anh;
            }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDKS }) |
    @Html.ActionLink("Trở lại danh sách khách sạn", "Index__Admin")
</p>
